<div class="row clearfix layout layout-left">
	<div class="row">
		<div class="column left">
			<h4> {{ include.item.company }}</h4>
			{{ include.item.dates }}
		</div>
		<div class="column right">
			<div>
			<h4> {{ include.item.job_title }}</h4>
			{%- if include.item.quote -%}
			<p><i class="quote">{{ include.item.quote }}</i></p>
			{%- endif -%}
      </div>
			<div>
			{{ include.item.description}}
			</div>
       <div class="tool-tag">
         {% for tool in include.item.tools %}
				   <p>{{ tool }}</p>
         {% endfor %}
       </div>
	</div>
</div>
